<!-- <img src="/images/HeadingImg.svg" class="d-none d-sm-none d-md-block my-2" alt="St Lukes Logo" id="headingImg"> -->
<!-- <br> -->
<div class="  mt-4 mb-3" >
  <h1 id="title" class="text-center mb-0">ST LUKE'S
     <span id="headingSubtitle"><br>WEST KILBURN</span>
  </h1>
</div>
