<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav  d-flex justify-content-around align-items-center">
      <li>
        <a class="navbar-brand m-0" href="/"> <img src="/images/logo.svg"> </img> </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AboutUs">ABOUT US</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ChurchLife">CHURCH LIFE</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0 ">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/WhatsOn">WHAT'S ON</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/News">NEWS</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Community">COMMUNITY</a>
      </li>
      <li class="nav-divider d-none d-md-block">
        <span class="m-0">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ContactUs">CONTACT US</a>
      </li>
    </ul>
  </div>

</nav>
