<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <title><%= title %></title>
  </head>
  <body>
    <% include ../partials/scripts.ejs %>
    <% include ../partials/heading.ejs %>
    <% include ../partials/menu.ejs %>

    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="container-fluid" id="main-content">

      <!-- <div class="row d-flex justify-content-center">
        <div class=" d-flex justify-content-around flex-column flex-md-row ">

          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">

        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class=" d-flex justify-content-around flex-column flex-md-row ">

          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">

        </div>
      </div> -->

      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <img src="/images/HeadingImg.svg" alt="">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <img src="/images/HeadingImg.svg" alt="">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <img src="/images/HeadingImg.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <img src="/images/HeadingImg.svg" alt="">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <img src="/images/HeadingImg.svg" alt="">
        </div>
      </div>

    </div>

  </body>
</html>
