<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/homePage.css">
    <title><%= title %></title>
  </head>
  <body>
    <% include ../partials/scripts.ejs %>
    <% include ../partials/heading.ejs %>
    <% include ../partials/menu.ejs %>

    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="container-fluid" id="main-content">

      <!-- <div class="row d-flex justify-content-center">
        <div class=" d-flex justify-content-around flex-column flex-md-row ">

          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">

        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class=" d-flex justify-content-around flex-column flex-md-row ">

          <img src="/images/HeadingImg.svg" alt="">
          <img src="/images/HeadingImg.svg" alt="">

        </div>
      </div> -->
      <br>
      <div class="row mb-2">
        <div class="col-12 col-sm-4 col-md-4 d-flex justify-content-center mb-2">
          <div class="w-100 overlayContainer">
            <a href="#" class="overlayLink">
              <img class="w-100 h-100 overlayImg" src="/images/WhoWeAreImg.png" alt="">
              <div class="overlay d-flex justify-content-center">
                <p class="pt-3">
                  WHO WE ARE
                  <br>
                  <img src="/images/overlayUnderline.svg" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-sm-4 col-md-4 d-flex justify-content-center mb-2">
          <div class="w-100 overlayContainer">
            <a href="#" class="overlayLink">
              <img class="w-100 h-100 overlayImg" src="/images/ChildrenAndFamiliesImg.png" alt="">
              <div class="overlay d-flex justify-content-center">
                <p class="pt-3">
                  CHILDREN AND FAMILIES
                  <br>
                  <img src="/images/overlayUnderline.svg" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-sm-4 col-md-4 d-flex justify-content-center mb-2">
          <div class="w-100 overlayContainer">
            <a href="#" class="overlayLink">
                <img class="w-100 h-100 overlayImg" src="/images/SundayAtStLukes.png" alt="">
              <div class="overlay d-flex justify-content-center">
                <p class="pt-3">
                  SUNDAY AT ST LUKE'S
                  <br>
                  <img src="/images/overlayUnderline.svg" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-center mb-2">
          <div class="w-100 overlayContainer">
            <a href="#" class="overlayLink">
                <img class="w-100 h-100 overlayImg" src="/images/OurBuilding.png" alt="">
              <div class="overlay d-flex justify-content-center">
                <p class="pt-3">
                  OUR BUILDING
                  <br>
                  <img src="/images/overlayUnderline.svg" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center mb-2">
          <div class="w-100 overlayContainer">
            <a href="#" class="overlayLink">
                <img class="w-100 h-100 overlayImg" src="/images/ComingUp.png" alt="">
              <div class="overlay d-flex justify-content-center">
                <p class="pt-3">
                  COMING UP
                  <br>
                  <img src="/images/overlayUnderline.svg" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
