<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <title><%= title %></title>
  </head>
  <body>
    <% include ../partials/scripts.ejs %>
    <% include ../partials/heading.ejs %>
    <% include ../partials/menu.ejs %>

    <div class="container-fluid" id="main-content">

    </div>

  </body>
</html>
