<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <title><%= title %></title>
  </head>
  <body>
    <% include ../partials/scripts.ejs %>
    <% include ../partials/heading.ejs %>
    <% include ../partials/menu.ejs %>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">

    <h2> Meet The Staff </h2>
    <div class="container-fluid" id="main-content">
      <div class="row ">
        <div class="col-4 d-flex flex-column align-items-center ">
          <img src="/images/ChildrenAndFamiliesImg.png" alt="Vicar" class="profileImg">
          <h3>Vicar</h3>
          <p>Bob Staymore</p>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
          <img src="/images/ChildrenAndFamiliesImg.png" alt="Reader" class="profileImg">
          <h3>Reader</h3>
          <p>Sammy Summer</p>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
          <img src="/images/ChildrenAndFamiliesImg.png" alt="Curate" class="profileImg">
          <h3>Curate</h3>
          <p>Sarah Bellony</p>
        </div>
      </div>
    </div>

  </body>
</html>
